<article>
    <h1 id="attributes">Универсальные атрибуты</h1>
    <div class="content-container">
        <p>Универсальные атрибуты применяются практически ко всем тегам, поэтому выделены в отдельную группу, чтобы не повторять их для всех тегов.</p>
        <dl>
            <dt><span class="sapid">accesskey</span></dt>
            <dd>Позволяет получить доступ к элементу с помощью заданного сочетания клавиш.</dd>
            <dt><span class="sapid">class</span></dt>
            <dd>Определяет имя класса, которое позволяет связать тег со стилевым оформлением.</dd>
            <dt><span class="sapid">contenteditable</span></dt>
            <dd>Сообщает, что элемент доступен для редактирования пользователем.</dd>
            <dt><span class="sapid">contextmenu</span></dt>
            <dd>Устанавливает контекстное меню для элемента.</dd>
            <dt><span class="sapid">dir</span></dt>
            <dd>Задает направление и отображение текста — слева направо или справа налево.</dd>
            <dt><span class="sapid">hidden</span></dt>
            <dd>Скрывает содержимое элемента от просмотра.</dd>
            <dt><span class="sapid">id</span></dt>
            <dd>Указывает имя стилевого идентификатора.</dd>
            <dt><span class="sapid">lang</span></dt>
            <dd>Браузер использует значение параметра для правильного отображения некоторых национальных символов.</dd>
            <dt><span class="sapid">spellcheck</span></dt>
            <dd>Указывает браузеру проверять или нет правописание и грамматику в тексте.</dd>
            <dt><span class="sapid">style</span></dt>
            <dd>Применяется для определения стиля элемента с помощью правил CSS.</dd>
            <dt><span class="sapid">tabindex</span></dt>
            <dd>Устанавливает порядок получения фокуса при переходе между элементами с помощью клавиши Tab.</dd>
            <dt><span class="sapid">title</span></dt>
            <dd>Описывает содержимое элемента в виде всплывающей подсказки.</dd>
        </dl>
    </div>
</article>