<article>
    <h1 id="events">События</h1>
    <div class="content-container">
        <dl>
            <dt><span class="sapid">onblur</span></dt>
            <dd>Потеря фокуса.</dd>
            <dt><span class="sapid">onchange</span></dt>
            <dd>Изменение значения элемента формы.</dd>
            <dt><span class="sapid">onclick</span></dt>
            <dd>Щелчок левой кнопкой мыши на элементе.</dd>
            <dt><span class="sapid">ondblclick</span></dt>
            <dd>Двойной щелчок левой кнопкой мыши на элементе.</dd>
            <dt><span class="sapid">onfocus</span></dt>
            <dd>Получение фокуса.</dd>
            <dt><span class="sapid">onkeydown</span></dt>
            <dd>Клавиша нажата, но не отпущена.</dd>
            <dt><span class="sapid">onkeypress</span></dt>
            <dd>Клавиша нажата и отпущена.</dd>
            <dt><span class="sapid">onkeyup</span></dt>
            <dd>Клавиша отпущена.</dd>
            <dt><span class="sapid">onload</span></dt>
            <dd>Документ загружен.</dd>
            <dt><span class="sapid">onmousedown</span></dt>
            <dd>Нажата левая кнопка мыши.</dd>
            <dt><span class="sapid">onmousemove</span></dt>
            <dd>Перемещение курсора мыши.</dd>
            <dt><span class="sapid">onmouseout</span></dt>
            <dd>Курсор покидает элемент.</dd>
            <dt><span class="sapid">onmouseover</span></dt>
            <dd>Курсор наводится на элемент.</dd>
            <dt><span class="sapid">onmouseup</span></dt>
            <dd>Левая кнопка мыши отпущена.</dd>
            <dt><span class="sapid">onreset</span></dt>
            <dd>Форма очищена.</dd>
            <dt><span class="sapid">onselect</span></dt>
            <dd>Выделен текст в поле формы.</dd>
            <dt><span class="sapid">onsubmit</span></dt>
            <dd>Форма отправлена.</dd>
            <dt><span class="sapid">onunload</span></dt>
            <dd>Закрытие окна.</dd>
        </dl>
    </div>
</article>